.contBody {
  overflow-x: hidden;
  background-color: black;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Header {
  background-color: #3268ff;
}

.h1Header {
  font-family: 'Knewave', cursive;
  font-size: 5em;
  color: white;
  width: 500px;
  margin-left: 1000px;
  margin-top: -750px;
}

.blockText {
  color: grey;
  font-size: 1.3em;
}

.lineSvgCar {
  position: relative;
  margin-top: -100%;
}

.imgCar {
  width: 250px;
  height: 250px;
  position: relative;
}

.inputEmail {
  width: 180px;
  border: solid #309ad5 2px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  height: 34px;
  background-color: white;
  padding-left: 10;
  position: relative;
}

.inputSignUp {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: solid #309ad5 2px;
  height: 40px;
  color: white;
  font-weight: bold;
  background-color: #309ad5;
  padding-left: 12;
  padding-right: 12;
  position: relative;
  background-image: linear-gradient(150deg, #309ad5, #309ad5, black);
}

.cardHeader {
  perspective: 40px;
  display: flex;
}

.textCardHeader {
  margin-left: 20px;
  color: rgb(155, 155, 155);
}

.card {
  width: 650px;
  height: 300px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-image: linear-gradient(150deg, #464646bf, #464646bf, black);

  /* -----------Effect------------- */
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  box-shadow: 2px 5px 50px rgba(255, 255, 255, 0.2);
}

.iconCard {
  height: 60px;
  width: 60px;
}

.iconCard2 {
  height: 50px;
  width: 50px;
  margin-top: 10px;
}

.type {
  float: left;
  margin-left: 30px;
}

.textIconCard {
  color: grey;
}

.installButton {
  height: 60px;
  width: 60px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: solid #309ad5 2px;
  background-color: #309ad5;
  height: 35px;
  width: 35px;
  margin-top: 30px;
  margin-left: 30px;
}

.lineButton {
  height: 20px;
  width: 20px;
}

.colorCard {
  width: 100px;
  height: 100px;
  background-color: #309ad5;
  opacity: 0;
  filter: blur(60px);
  border-radius: 300px;
  transition: opacity 1.2s cubic-bezier(0.16, 1, 0.3, 1);
  mix-blend-mode: soft-light;
  will-change: transform;

  pointer-events: none;
  z-index: -1 !important;
  bottom: 0 !important;
  right: 0 !important;
  position: absolute !important;
}


/* SECTION 1 */
.imgApp1 {
  width: 285px;
  height: 540px;
  margin-left: 15px;
  border: 2.5px solid rgba(31, 30, 30, 0.425);
  margin-top: -180px;
}

.imgApp2 {
  width: 280px;
  height: 520px;
  margin-left: 12px;
  border: 2.5px solid #1f1e1e6c;
  margin-top: -100px;
}

.blockSection1 {
  background-color: black;
  padding-left: 200px;
  margin-top: -230px;
}

.blockSection2 {
  background-color: black;
  padding-left: 380px;
  margin-top: -580px;
}

/* Phone Effect */

.blockSection1 .iphone {
  -webkit-transform: translate(-20%, 10%) rotate3d(0.5, 0.866, 0, 16deg) rotateZ(-7deg);
  transform: translate(-20%, 10%) rotate3d(0.5, 0.866, 0, 16deg) rotateZ(-7deg);
}


.iphone {
  background: #b3b3b3;
  max-width: 320px;
  border-radius: 36px;
  padding: 55px 0;
  -webkit-box-shadow: inset 0 4px 10px 1px black, inset 0 0 6px 0 rgb(66 77 86 / 50%), 0 2px 0 #aeb5bb, 0 20px 50px -25px rgb(0 0 0 / 50%);
  box-shadow: inset 0 4px 10px 1px black, inset 0 0 6px 0 rgb(66 77 86 / 50%), 0 2px 0 #aeb5bb, 0 20px 50px -25px rgb(0 0 0 / 50%);
}

.iphone2 {
  background: #b3b3b3;
  max-width: 310px;
  border-radius: 36px;
  padding: 55px 0;
  -webkit-box-shadow: inset 0 4px 10px 1px black, inset 0 0 6px 0 rgb(66 77 86 / 50%), 0 2px 0 #aeb5bb, 0 20px 50px -25px rgb(0 0 0 / 50%);
  box-shadow: inset 0 4px 10px 1px black, inset 0 0 6px 0 rgb(66 77 86 / 50%), 0 2px 0 #aeb5bb, 0 20px 50px -25px rgb(0 0 0 / 50%);
}

.iphone {
  border: 1px solid rgb(92, 92, 92);
  /* margin: 0 auto; */
  position: relative;
}

.iphone2 {
  border: 1px solid rgb(92, 92, 92);
  /* margin: 0 auto; */
  position: relative;
}


.iphone:before {
  background: #e3e8eb;
  margin: -25px auto 0;
}

.iphone2:before {
  background: #e3e8eb;
  margin: -25px auto 0;
}

.iphone:before {
  width: 45px;
  height: 4px;
  left: 0;
  right: 0;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
  border-radius: 30px;
}

.iphone2:before {
  width: 45px;
  height: 4px;
  left: 0;
  right: 0;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
  border-radius: 30px;
}

.iphone:before,
.iphone:after {
  content: '';
  position: absolute;
}

.iphone2:before,
.iphone2:after {
  content: '';
  position: absolute;
}

.iphone:after {
  top: 30px;
  margin-left: -45px;
  background: #e3e8eb;
}

.iphone2:after {
  top: 30px;
  margin-left: -45px;
  background: #e3e8eb;
}


.iphone:after {
  left: 50%;
  width: 8px;
  height: 8px;
  -webkit-box-shadow: 0 0 0 2px rgb(0 0 0 / 3%);
  box-shadow: 0 0 0 2px rgb(0 0 0 / 3%);
  display: block;
  border-radius: 50%;
}

.iphone2:after {
  left: 50%;
  width: 8px;
  height: 8px;
  -webkit-box-shadow: 0 0 0 2px rgb(0 0 0 / 3%);
  box-shadow: 0 0 0 2px rgb(0 0 0 / 3%);
  display: block;
  border-radius: 50%;
}

.iphone:before,
.iphone:after {
  content: '';
  position: absolute;
}

.iphone2:before,
.iphone2:after {
  content: '';
  position: absolute;
}

/* SECTION 1 */
.carIconLine {
  height: 50px;
  width: 50px;
  margin-top: -350px;
  margin-right: 162px;
  float: right;
  position: relative;
}

.textSection1 {
  color: rgb(165, 163, 163);
  font-family: "Mona Sans", "Mona Sans Header Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-feature-settings: unset;
  font-size: 2.5em;
}

/* SECTION 2 */
.cardImg {
  padding-left: 900px;
  padding-top: 200px;
}

.lineSec2 {
  width: 50px;
}

.carIconLineSec2 {
  height: 50px;
  width: 50px;
  float: left;
  position: relative;
  margin-top: -160px;
}

.textSection2-1 {
  color: rgb(165, 163, 163);
  font-family: "Mona Sans", "Mona Sans Header Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-feature-settings: unset;
  font-size: 2.5em;
  margin-left: 100px;
  margin-top: -430px;
}

.textSection2-2 {
  color: rgb(165, 163, 163);
  font-family: "Mona Sans", "Mona Sans Header Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-feature-settings: unset;
  font-size: 1.8em;
  margin-left: 100px;
}

.browser {
  transform: translate(40%, -10%) rotate3d(0.342, -0.94, 0, 22deg) rotateZ(7deg);
  bottom: auto;
  /* width: 780px; */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #fff), color-stop(10%, #eef1f3));
  background: linear-gradient(#fff 1%, #eef1f3 10%);
  position: relative;
  padding-top: 2em;
  border-radius: 0.4em;
}

.browser:before {
  display: block;
  position: absolute;
  content: '';
  top: 0.75em;
  left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background: #f44;
  -webkit-box-shadow: 0 0 0 1px #f44, 1.5em 0 0 1px #9b3, 3em 0 0 1px #fb5;
  box-shadow: 0 0 0 1px #f44, 1.5em 0 0 1px #9b3, 3em 0 0 1px #fb5;
}

.absolute {
  position: absolute !important;
}

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(255, 255, 255, 0.411) !important;
}

/* SECTION 3 */

.textSection3-1 {
  color: rgb(165, 163, 163);
  font-family: "Mona Sans", "Mona Sans Header Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-feature-settings: unset;
  font-size: 3.2em;
}

.textSection3-2 {
  color: rgb(165, 163, 163);
  font-family: "Mona Sans", "Mona Sans Header Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-feature-settings: unset;
  font-size: 1.2em;
}

.blockText3 {
  width: 50%;
  text-align: center;
  margin: auto;
  padding-top: 50px;
  border-radius: 50%;
}

.imgSec3 {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

@media (max-width: 1500px) {
  .h1Header {
    font-size: 4.2em;
    margin-left: 800px;
    margin-top: -500px;
  }

  .blockText {
    font-size: 1.1em;
    margin-top: 0;
  }

  .imgCar {
    width: 200px;
    height: 200px;
  }

  .card {
    width: 550px;
    height: 250px;
  }

  .textCardHeader {
    font-size: 1em;
  }

  .iconCard {
    height: 40px;
    width: 40px;
  }

  .iconCard2 {
    height: 30px;
    width: 30px;
  }

  /* SECTION 1 */
  .imgApp1 {
    width: 240px;
    height: 430px;
    margin-left: 15px;
    margin-top: -10px;
  }

  .imgApp2 {
    width: 230px;
    height: 420px;
    margin-left: 12px;
    margin-top: -10px;
  }

  .iphone {
    max-width: 270px;
  }

  .iphone2 {
    max-width: 258px;
  }

  .blockSection1 {
    padding-left: 125px;
  }

  .blockSection2 {
    margin-top: -480px;
    padding-left: 250px;
  }

}